.boton-clear {
    height: 70px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #c90000;
    margin-top: 8px;
    border-radius: 50px;
    cursor:pointer;
    border: 3px solid #568fda;
}
.boton-clear:hover{
    background-color: #c9a400;
    color:#c90000;
}